html{
    position: relative;
}

#bloodSugar td, #medRecord td{
    font-size: 18px;
    opacity: 0.3;
    cursor: pointer;
}
#bloodSugar td.active, #medRecord td.active{
    opacity: 1;
    background-color: inherit;
}
#bloodSugar .bloodsugar_main{
    font-size: 20px;
}

#bloodSugar .table.table-bordered{
    margin-top: 5%;
}
#bloodSugar .form-control{
    margin-top: 5%;
}
#bloodSugar .btn_container{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#bloodSugar button{
    width:30%;
    height: 8%;
}
#bloodSugar .reset{
    float: right;
}
#bloodSugar .submit{
    float: left;
}
.bloodsugarList {
    color:black;
    font-weight:bold;
}
.km-arrow-yo:after,
.km-arrow-yo:before
{
    content: "\e04f";
}
.large_btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 0px;
    display: block;
}
.circle-change{
    position: absolute;
    left: 50%;
    font-size: 10px;
    bottom: 0;
    margin-left: -12px;
}
.circle-change i{
    margin: 2px;
}
#swipe_history{
    width: 100%;
    height: 100%;
}
#eatDrink .eatform input{
    margin: 8px;
}
#medRecord .med_main{
    font-size: 16px;
}
#medRecord .medImage {
    display: block;
    width: 100%;
    height: 35%;
    text-align: center;
}
#medRecord .table.table-bordered{
    margin-top: 5%;
}
#medRecord .btn_container{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#medRecord button{
    width:30%;
    height: 8%;
    font-size: 18px;
    text-align: center;}
#medRecord .reset{
    float: right;
}
#medRecord .submit{
    float: left;
}
.ok{
    font-size: 30px;
    position: absolute;
    top:38%;
    left: 50%;
    margin-left: -47.5px;
    opacity: 0.3;
    color:black;
    /*display: none;*/
}
.ok_container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    display: none;
}